<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    .output {
      font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace !important;
      font-size: 12px !important;
    }

    textarea {
      /*height: 100vh !important;
        max-height: 100vh !important;*/
      font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace !important;
      font-size: 12px !important;
    }

    .lyricssmall {
      font-size: 10px
    }

    [v-cloak] {
      display: none;
    }
  </style>
  <title>Transposer - Transpose guitar tabs into any key</title>
  <!-- PWA manifest -->
  <link rel="manifest" href="manifest.json">
</head>

<body>
  <v-app id="app" v-cloak>
    <v-main>
      <v-app-bar dark>
        <v-toolbar-title @click="home">Transposer</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="settings">
          <v-icon>mdi-sync</v-icon>
        </v-btn>
        <v-btn icon @click="shuffle">
          <v-icon>mdi-shuffle</v-icon>
        </v-btn>
        <v-btn icon @click="newTab">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-app-bar>
      <v-container fluid>
        <!-- single tab-->
        <div v-if="mode === 'singletab'">
          <v-select :items="transposeItems" v-model="transpose" label="Transpose"></v-select>
        </div>
        <v-card v-if="mode === 'singletab'">
          <v-card-title>{{ singletab.song }}</v-card-title>
          <v-card-subtitle>{{ singletab.artist }}</v-card-subtitle>
          <v-card-text>
            <pre class="output" v-html="output"></pre>
          </v-card-text>
          <v-card-actions>
            <v-btn icon @click="editTab(singletab._id)">
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>

        <!-- tab list -->
        <v-text-field v-if="mode === 'tablist'" v-model="search" label="Search"></v-text-field>
        <v-list v-if="mode === 'tablist'">
          <!-- if there are no tabs -->
          <v-list-item v-if="tabs.length === 0">
            <v-list-item-content>
              <v-list-item-title>Create your first tab</v-list-item-title>
            </v-list-item-content>
            <v-btn @click="newTab">
              Create first tab
            </v-btn>
          </v-list-item>

          <!-- one list item per tab -->
          <v-list-item v-for="t in filteredTabs" :key="t._id" @click="viewTab(t._id)">
            <v-list-item-content>
              <v-list-item-title>{{ t.song }}</v-list-item-title>
              <v-list-item-subtitle>{{ t.artist }}</v-list-item-subtitle>
              <div class="lyricssmall">{{ t.tab.substr(0,200) + '...'}}</div>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <!-- new tab form -->
        <v-form v-if="mode=== 'newtabform'">
          <h2>Add Tab</h2>
          <v-text-field v-model="newtab.artist" label="Artist" required></v-text-field>
          <v-text-field v-model="newtab.song" label="Song" required></v-text-field>
          <v-textarea v-model="newtab.tab" label="Tab" required></v-textarea>
          <v-btn color="error" class="mr-4" @click="home">Cancel</v-btn>
          <v-btn :disabled="!newtab.artist || !newtab.song" color="success" class="mr-4" @click="newTabSubmit">Save New
            Tab</v-btn>
        </v-form>

        <!-- edit tab form-->
        <v-form v-if="mode=== 'edittabform'">
          <h2>Edit Tab</h2>
          <v-text-field v-model="edittab.doc.artist" label="Artist" required></v-text-field>
          <v-text-field v-model="edittab.doc.song" label="Song" required></v-text-field>
          <v-textarea v-model="edittab.doc.tab" label="Tab" required></v-textarea>
          <v-btn color="warning" class="mr-4" @click="deleteTab(edittab.doc._id)">Delete</v-btn>
          <v-btn color="error" class="mr-4" @click="home">Cancel</v-btn>
          <v-btn :disabled="!edittab.doc.artist || !edittab.doc.song" color="success" class="mr-4"
            @click="editTabSubmit">Edit Tab
          </v-btn>
        </v-form>

        <!-- settings form -->
        <v-form v-if="mode === 'settings'">
          <h2>Sync Settings</h2>
          <div>
            You may optionally sync your data with a remote Apache CouchDB
            or IBM Cloudant service, to ensure that the data isn't just in
            your browser. Enter the URL, including authentication credentials
            below. e.g. https://username:password@host.com/db
          </div>
          <v-text-field v-model="url" label="URL" required></v-text-field>
          <v-btn color="error" class="mr-4" @click="home">Cancel</v-btn>
          <v-btn :disabled="!url" color="success" class="mr-4" @click="settingsSubmit">Save Settings</v-btn>
        </v-form>

      </v-container>
    </v-main>
  </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pouchdb@7.1.1/dist/pouchdb.min.js"></script>
  <script src="js/app.js"></script>

</body>

</html>